@keyframes popUp {
    from {
        transform: scale(0.5);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes dance {
    0%, 100% { transform: translateX(0); }
    25% { transform: translateX(-15px); }
    50% { transform: translateX(15px); }
    75% { transform: translateX(-15px); }
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-right: 2.5vw;
    height: 2.5vw;
    padding: 0 1vw;
    background-color: #fff;
    border-radius: 0.5vw;
    box-shadow: 0 0 0.5vw rgba(0,0,0,0.2);
    animation: popUp 0.5s ease-out forwards, dance 1s 0.5s ease-in-out forwards;
}

.text{
    font-size: 1vw;
    font-weight: 500;
    color: #1b365f;
    margin: .5vw;
}

.button{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-left: 1vw;
    padding: 0.5vw 1vw;
    background-color: #fff;
    border: none;
    cursor: pointer;
    height: 2.5vw;
    font-size: 1vw;
}